html{
    height:100% ;
    font-family : sans-serif;
}
body {
    background-image: url( https://www.pexels.com/photo/green-leaf-1353938/);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;

}
form{
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding : 10px;
    font-weight: 800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    margin: auto; 

}
form input , form select, form textarea{
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: none ; 
    
    
}
form button {
    display: block ; 
    width : 100%; 
    padding : 15px;
    font-size: 15px; 
    background-color: rgb(106,106,244); 
    border: none ; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    transition : background-color 
}
form button:hover{
 background-color: rgb(85, 85, 248);
}
form .errorlist li{
    list-style-type: none;
    color: rgb(173, 13, 13); 
    
}
@media screen and (max-width: 600px){
    form {
        width: 90%; 
    }
} 
